include ./mixins

mixin slides(invert)
  if (invert)
    .swiper-slide.slide
      img(alt='img' src=('./assets/image/slides/slide_a.png?as=avif') width=240 height=534)
  .swiper-slide.slide
    img(alt='img' src=('./assets/image/slides/slide_m.png?as=avif') width=240 height=534)
  if (!invert)
    .swiper-slide.slide
      img(alt='img' src=('./assets/image/slides/slide_a.png?as=avif') width=240 height=534)

mixin functions(props = {})
  - let title = ['Полноценный месседжер', 'Лента по интересам', 'Любимые свайпы', 'Расширенный поиск'];
  - let icon = ['msg', 'feed', 'like', 'search'];
  - let text = ['Используйте наш мессенджер для беспрепятственного общения. Отправляйте голосовые сообщения, стикеры и фотографии, устанавливайте близкие связи.', 'Лента по интересам для захватывающих знакомств. Найдите новые увлечения и общайтесь с людьми, разделяющими ваше видение жизни.', 'Свайпы упрощают процесс поиска, позволяя вам отсеивать неподходящие варианты. Это удобный способ для поиска своей идеальной половинки.', 'Наши расширенные фильтры предоставляют вам возможность точно указать ваши предпочтения по многим параметрам.'];

  .functions.relative
    .functions--title Много полезных функций

    .screens--slider
      #js-slider-functions-pagination.swiper-pagination.slider--reg_pagination.flex.__center

      .screens--slider_holder.flex.__center-align.__center.relative
        .functions--slider_controls.flex.__between.hide__after-xl
          #js-slider-functions-prev.btn--green.swiper-button-prev.slider--button.__prev.flex.__center.__center-align
            img(alt='img' loading='lazy' src='./assets/svg/arrow_l.svg' width=42 height=42)
          #js-slider-functions-next.btn--green.swiper-button-next.slider--button.__next.flex.__center.__center-align
            img(alt='img' loading='lazy' src='./assets/svg/arrow_r.svg' width=42 height=42)

        .screens--slider_front
          .screens--slider_wrapper.relative
            .screens--slider_block
              #js-slider-screen-1.swiper
                .swiper-wrapper
                  each sld in [1,2,3,4]
                    .swiper-slide.slide
                      img(alt='img' src=('./assets/image/slides/back_' + sld + '@2x.png?as=avif') width=240 height=534)

        .screens--slider_back.relative
          .screens--slider_wrapper.relative
            .screens--slider_block
              #js-slider-screen-2.swiper
                .swiper-wrapper
                  each sld in [1,2,3,4]
                    .swiper-slide.slide
                      img(alt='img' src=('./assets/image/slides/front_' + sld + '@2x.png?as=avif') width=240 height=534)

    .functions--slider.relative
      #js-slider-functions.swiper
        .swiper-wrapper
          each name, ind in title
            .swiper-slide.slide.js-slide-to-parent
              .functions--slider_item.js-slide-to(data-slide= ind)
                .functions--slider_icon.flex.__center.__center-align
                  img(alt='img' src=('./assets/svg/' + icon[ind] + '.svg') width=34 height=34)
                .functions--slider_caption.flex.__between.__center-align
                  h4= name

                .functions--slider_text
                  p= text[ind]
