mixin promo(props = {})
  .promo
    .promo--left
      h1.promo--title Табор — онлайн знакомства в&nbsp;вашем мобильном
      .promo--text С миллионами пользователей и продвинутыми фильтрами поиска, вы точно найдете того, кто подходит именно вам
      .promo--app
        +app_btns()

      .promo--label
        span
          +img_src('./assets/image/', 'roskach', 'png')(width=56 height=56)
        p Лучшее приложение знакомств 2024 по версии Роскачества

    .promo--right
      .promo--screen
        +img_src('./assets/image/', 'phone-3', 'png')(width=347 height=640)
      .promo--screen
        +img_src('./assets/image/', 'phone-2', 'png')(width=347 height=640)

    .promo--stat
      .promo--stat_item
        b 30М+
        p скачиваний

      .promo--stat_item
        b 563.3К
        p человек ежедневно

      .promo--stat_item
        b
          span 4.7&nbsp;
          img(alt='img' src=('./assets/svg/star_gray.svg') width=24 height=22)

        p
          span рейтинг
